@model EduServer.Models.request

@{
    ViewBag.Title = "تفاصيل طلب";
}

<h2>تفاصيل</h2>

<div>
    <h4>طلب</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.request_type1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request_type1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status1.status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status1.status1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.fullname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.id }) |
    @Html.ActionLink("الرجوع للقائمة", "Index")
</p>
