@model IEnumerable<EduServer.Models.request>

@{
    ViewBag.Title = "الطلبات";
}

<h2>الطلبات</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.request_type1.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status1.status1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.fullname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.request_type1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status1.status1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.fullname)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.id }) |
            @Html.ActionLink("تفاصيل", "Details", new { id=item.id }) |
            @Html.ActionLink("حذف", "Delete", new { id = item.id }, new {@class="btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
