@model EduServer.Models.student

@{
    ViewBag.Title = "تفاصيل طالب";
}

<h2>تفاصيل</h2>

<div>
    <h4>طالب</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specialization.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialization.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("الرجوع للقائمة", "Index")
</p>
