@model EduServer.Models.lecture

@{
    ViewBag.Title = "تفاصيل محاضرة";
}

<h2>تفاصيل</h2>

<div>
    <h4>محاضرة</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dayinweek1.dayname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dayinweek1.dayname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hall.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hall.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lecture_at.time_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lecture_at.time_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specialization.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialization.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("الرجوع للقائمة", "Index")
</p>
