@model IEnumerable<EduServer.Models.lecture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dayinweek1.dayname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hall.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lecture_at.time_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specialization.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dayinweek1.dayname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hall.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lecture_at.time_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.specialization.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
