<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="@Url.Content("img/favicon.png")" type="image/png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/flaticon.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themify-icons.css")" />
    <link rel="stylesheet" href="@Url.Content("~/vendors/owl-carousel/owl.carousel.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/vendors/nice-select/css/nice-select.css")" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- main css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/my.css")" />
    <title>@ViewBag.Title</title>
    <style>
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background: #4899ea;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #4573a0;
            }
    </style>
</head>

<body>
        <header class="header_area white-header">
            <div class="main_menu" dir="rtl">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container" style="margin-top:3px;margin-bottom:3px">
                        <div class="navbar-brand">
                            <img class="logo-2" src="@Url.Content("~/img/logo2.png")" alt="" />
                        </div>
                        <button class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse offset"
                             id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item" style="margin-top:3px;margin-left:3px">@Html.ActionLink("المدرسون", "Index", "Teachers", null, new { @class = "btn btn-sm btn-outline-info " }) </li>
                                <li class="nav-item" style="margin-top:3px;margin-left:3px">@Html.ActionLink("الطلاب", "Index", "Students", null, new { @class = "btn btn-sm btn-outline-info" })    </li>
                                <li class="nav-item" style="margin-top:3px;margin-left:3px">@Html.ActionLink("الطلبات", "Index", "requests", null, new { @class = "btn btn-sm btn-outline-info" })  </li>
                                <li class="nav-item" style="margin-top:3px;margin-left:3px">@Html.ActionLink("القاعات", "Index", "Halls", null, new { @class = "btn btn-sm btn-outline-info" })     </li>
                                <li class="nav-item" style="margin-top:3px;margin-left:3px">@Html.ActionLink("المحاضرات", "Index", "Lectures", null, new { @class = "btn btn-sm btn-outline-info" })</li>
                                <li class="nav-item" style="margin-top:3px;margin-left:3px">@Html.ActionLink("الإعلانات", "Index", "Notifications", null, new { @class = "btn btn-sm btn-outline-info" })</li>
                                <li class="nav-item" style="margin-top:3px;margin-left:3px">@Html.ActionLink("المواد", "Index", "materials", null, new { @class = "btn btn-sm btn-outline-info" })</li>
                                <li class="nav-item" style="margin-top:3px;margin-left:3px">@Html.ActionLink("العلامات", "Index", "marks", null, new { @class = "btn btn-sm btn-outline-info" })</li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="banner_content text-center">
                                <h2>@ViewBag.Title</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="course_details_area section_gap text-right" dir="rtl" >
            <div class="container">
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container text-center">
                <div class="row" style="color: white">
                    <img src="@Url.Content("~/img/logo.png")" style="margin-top: 8px;margin-bottom: 8px" />
                </div>
            </div>
        </footer>
        
    <script src="@Url.Content("~/Scripts/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/popper.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/vendors/nice-select/js/jquery.nice-select.min.js")"></script>
    <script src="@Url.Content("~/vendors/owl-carousel/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/owl-carousel-thumb.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.ajaxchimp.min.js")"></script>
    <script src="@Url.Content("~/Scripts/mail-script.js")"></script>
   
    <script src="@Url.Content("~/Scripts/gmaps.min.js")"></script>
    <script src="@Url.Content("~/Scripts/theme.js")"></script>
    @Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
